# Load and Neah Bay Climate data
This historical data can be found at https://www.ndbc.noaa.gov/station_page.php?station=46087

In [1]:
import datetime as dt
import pandas as pd
import glob, os   
import numpy as np

In [2]:
# cols = list(pd.read_csv("ptaw2015.txt", delim_whitespace=True,nrows =1))
all_files = sorted(glob.glob(os.path.join('', "46087_201*.txt")))

neah = pd.concat((pd.read_csv(f,delim_whitespace=True, header=[0,1]) for f in all_files),ignore_index=True)

In [3]:
drop_vars = [
    "GST", 
    "GDR", 
    "GTIME", 
]

neah = neah.drop(labels=drop_vars, axis=1)

/home/rbeutel/anaconda3/envs/eosc510/lib/python3.9/site-packages/pandas/core/generic.py:3889: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [4]:
#out of curiosity lets count the number of NaN
neah.isna().sum()

#YY   #yr     0
MM    mo      0
DD    dy      0
hh    hr      0
mm    mn      0
WDIR  degT    0
WSPD  m/s     0
dtype: int64

In [5]:
#Replace NaN <- don't need to do this since there are no NaN
# Sheringham['Temp (°C)'] = Sheringham['Temp (°C)'].fillna(0)
# Sheringham['Wind Dir (10s deg)'] = Sheringham['Wind Dir (10s deg)'].fillna(0)
# Sheringham['Wind Spd (km/h)'] = Sheringham['Wind Spd (km/h)'].fillna(0)
# Sheringham['Stn Press (kPa)'] = Sheringham['Stn Press (kPa)'].fillna(101)

In [6]:
day = []

day = [str(dt.datetime(neah['#YY']['#yr'][i],neah['MM']['mo'][i],neah['DD']['dy'][i],neah['hh']['hr'][i],neah['mm']['mn'][i])) for i in range(len(neah['#YY']['#yr']))]

In [7]:
neah['Date/Time']=day #create a column with the date/time list info
#neah.set_index('Date/Time', inplace = True) #set this column as the index of the the file
neah = neah.drop(labels=['#YY','MM','DD','hh','mm'], axis=1) #remove the columns that have the year, month, day, hour, minute info as not this is unnessecary

In [8]:
neah

       WDIR  WSPD            Date/Time
       degT   m/s
0       109   6.2  2014-12-31 23:00:00
1       112   5.7  2014-12-31 23:10:00
2       112   6.0  2014-12-31 23:20:00
3       117   5.8  2014-12-31 23:30:00
4       118   5.7  2014-12-31 23:40:00
...     ...   ...                  ...
262320  209   9.3  2019-12-31 22:40:00
262321  212   9.7  2019-12-31 22:50:00
262322  215  10.2  2019-12-31 23:00:00
262323  213  10.8  2019-12-31 23:10:00
262324  216  11.0  2019-12-31 23:20:00

[262325 rows x 3 columns]

In [9]:
#export the data as a csv
neah.to_csv('neah.csv',index=False)