# Load and Export Race Rocks Climate data
This historical data can be found at https://climate.weather.gc.ca/climate_data/hourly_data_e.html?hlyRange=1994-02-01%7C2021-01-18&dlyRange=1995-02-08%7C2021-01-18&mlyRange=%7C&StationID=10943&Prov=BC&urlExtension=_e.html&searchType=stnProx&optLimit=yearRange&Month=1&Day=18&StartYear=2010&EndYear=2021&Year=2021&selRowPerPage=25&Line=4&txtRadius=50&optProxType=decimal&selCity=&selPark=&txtCentralLatDeg=&txtCentralLatMin=0&txtCentralLatSec=0&txtCentralLongDeg=&txtCentralLongMin=0&txtCentralLongSec=0&txtLatDecDeg=48.3305&txtLongDecDeg=-124.1081&timeframe=1

In [1]:
# from pathlib import Path
# import time
#import datetime as dt
import pandas as pd
import glob, os

Process all years in one dataframe

In [2]:
drop_vars = (
    "Station Name", "Climate ID", "Year", "Month", "Day", 
    "Time (LST)", "Temp Flag", "Dew Point Temp (°C)",
    "Dew Point Temp Flag", "Rel Hum (%)", "Rel Hum Flag",
    "Precip. Amount (mm)", "Precip. Amount Flag", "Wind Dir Flag",
    "Wind Spd Flag", "Visibility (km)", "Visibility Flag",
    "Stn Press Flag","Hmdx", "Hmdx Flag", "Wind Chill",
    "Wind Chill Flag", "Weather"
)

cols = list(pd.read_csv("en_climate_hourly_BC_1016640_01-2007_P1H.csv", nrows =1))

In [3]:
all_files = sorted(glob.glob(os.path.join('', "en_climate_hourly_BC_1016640_*.csv")))

RaceRocks = pd.concat((pd.read_csv(f,usecols =[i for i in cols if i not in drop_vars]) for f in all_files),ignore_index=True)

In [4]:
RaceRocks

,Longitude (x),Latitude (y),Date/Time (LST),Temp (°C),Wind Dir (10s deg),Wind Spd (km/h),Stn Press (kPa)
0,-123.53,48.3,2007-01-01 00:00,NaN,2.0,30.0,NaN
1,-123.53,48.3,2007-01-01 01:00,NaN,3.0,33.0,NaN
2,-123.53,48.3,2007-01-01 02:00,NaN,2.0,26.0,NaN
3,-123.53,48.3,2007-01-01 03:00,NaN,3.0,26.0,NaN
4,-123.53,48.3,2007-01-01 04:00,NaN,2.0,28.0,NaN
...,...,...,...,...,...,...,...
122731,-123.53,48.3,2020-12-31 19:00,7.7,1.0,16.0,101.45
122732,-123.53,48.3,2020-12-31 20:00,7.8,7.0,12.0,101.43
122733,-123.53,48.3,2020-12-31 21:00,7.5,2.0,11.0,101.38
122734,-123.53,48.3,2020-12-31 22:00,7.5,1.0,25.0,101.28
122735,-123.53,48.3,2020-12-31 23:00,8.0,2.0,24.0,101.21

In [5]:
#out of curiosity lets count the number of NaN
RaceRocks.isna().sum()

Longitude (x)             0
Latitude (y)              0
Date/Time (LST)           0
Temp (°C)             55627
Wind Dir (10s deg)     4331
Wind Spd (km/h)        1538
Stn Press (kPa)       55944
dtype: int64

In [6]:
#Replace NaN
RaceRocks['Temp (°C)'] = RaceRocks['Temp (°C)'].fillna(0)
RaceRocks['Wind Dir (10s deg)'] = RaceRocks['Wind Dir (10s deg)'].fillna(0)
RaceRocks['Wind Spd (km/h)'] = RaceRocks['Wind Spd (km/h)'].fillna(0)
RaceRocks['Stn Press (kPa)'] = RaceRocks['Stn Press (kPa)'].fillna(101)

In [7]:
RaceRocks

,Longitude (x),Latitude (y),Date/Time (LST),Temp (°C),Wind Dir (10s deg),Wind Spd (km/h),Stn Press (kPa)
0,-123.53,48.3,2007-01-01 00:00,0.0,2.0,30.0,101.00
1,-123.53,48.3,2007-01-01 01:00,0.0,3.0,33.0,101.00
2,-123.53,48.3,2007-01-01 02:00,0.0,2.0,26.0,101.00
3,-123.53,48.3,2007-01-01 03:00,0.0,3.0,26.0,101.00
4,-123.53,48.3,2007-01-01 04:00,0.0,2.0,28.0,101.00
...,...,...,...,...,...,...,...
122731,-123.53,48.3,2020-12-31 19:00,7.7,1.0,16.0,101.45
122732,-123.53,48.3,2020-12-31 20:00,7.8,7.0,12.0,101.43
122733,-123.53,48.3,2020-12-31 21:00,7.5,2.0,11.0,101.38
122734,-123.53,48.3,2020-12-31 22:00,7.5,1.0,25.0,101.28
122735,-123.53,48.3,2020-12-31 23:00,8.0,2.0,24.0,101.21

In [8]:
#export the data as a csv
RaceRocks.to_csv('RaceRocks.csv',index=False)